/* root */
button{
    border: 1px solid #F7941E;
    border-radius: 5px;
    padding: 7px 24px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

button:hover{
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

img{
  width: 100%;
}


/* root */
body{
    font-family: 'Gilroy';
}
header {
    background-color: #FAFAFA;;
}

.navbar{
    padding: 36px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

.nav_menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_menu ul>li {
    padding-right: 31px;
    line-height: 21,6px;
    
}

.nav_btn .btn{
    line-height: 30px;
    line-height: 22px;
    color: #F7941E;;
}

.banner{
    background-color: #F1F1F2;;
}

.banner_wrap{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: center;
    justify-content: space-between;
}

.banner_info, .banner_photo{
    width: 50%;
}
.banner_info{
  padding-top: 10% ;
  padding-left: 5%;
  padding-right: 5%;
}

.banner_info h1{
    font-size: 56px;
    line-height: 69px;
    padding-bottom: 36px;
}

.banner_info p{
    font-size: 20px;
    line-height: 140.62%;
    padding-bottom: 50px;
}

.banner_info .banner_btn{
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    background-color: #F7941E;
    padding: 23px 35px;
}

.banner_btn{
  padding-bottom: 100px;
}

.second_banner{
    flex-direction: row-reverse;
}

.second_banner .banner_title{
  font-size: 32px;
  line-height: 140.62%;
}

.btn_more{
  color: #F7941E !important;
  background-color: #F1F1F2 !important;
}

.gifts {
  padding: 100px 5%;
}

.gift_title{
  text-align: center;
  font-size: 32px;
  line-height: 38px;  
  padding-bottom: 60px;
}

.gift_subtitle{
  font-size: 18px;
}

.gift_card{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  width: 100%;
}

.gift_card .card{
  background-color: #FAFAFA;
  box-shadow: 0 0 20px rgba(54, 47, 47, 0.2);
}

.card_info{
  padding: 24px;
}

.card_info p{
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 70px;
}

.card_info button {
  font-size: 14px;
  line-height: 19px;
  border: none;
  text-transform: capitalize;
  background-color: #fff;
  padding: 0;
  box-shadow: none;
  line-height: 2;
}

.card_info button:hover {
  text-decoration: underline;
  
}

.ready {
  background-color: #F7941E;
  padding: 50px 0;
}

.ready_wrap{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.ready_title {
  font-size: 32px;
  line-height: 140.62%;
}
.ready_title h4 {
  font-weight: 600;
}

.ready_title p {
  font-weight: 500;
}

.ready_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ready_buttons button {
  padding: 18px 25px;
}

.ready_buttons button:first-child{
  background-color: #231F20;
  color: #fff;
  margin-right: 16px;
}

.ready_buttons button:last-child{
  color: #000;
  border: 1px solid #000;
}

/* blog */

.blog {
  padding: 80px 5%;
}

.blog_title {
  text-align: center;
}

.blog_title h5{
  padding-bottom: 23px;
  font-size: 32px;
  line-height: 38px;
}

.blog_title p{
  font-size: 18px;
  line-height: 135.94%;
}

.blog_image {
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: #fff;
  padding-top: 71px;
  padding-bottom: 40px;
}

.image_text {
  padding: 5% 7%;
  background-color: #231F20;
}

.image_text small {
  font-size: 14px;
  line-height: 140.62%;
}

.image_text .big_text {
  font-size: 48px;
  line-height: 58px;
  padding-top: 27px;
  padding-bottom: 60px;
}

.image_more {
  font-size: 18px;
  background-color: #231F20;
  border: none;
  color: #fff;
  padding: 0;
  text-transform:capitalize;
}

.image_more:hover{
  text-decoration: underline;
}
/* blog */

/* reviews */

.reviews_wrap{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.reviews_block {
  box-shadow: 0 0 10px rgba(196, 189, 189, 0.5);
  padding: 48px;
}

.reviews_title {
  font-size: 24px;
  line-height: 140.62%;
  font-weight: 600;
}

.review_p{
  padding-top: 16px;
  padding-bottom: 32px;
}

.more_review{
  background-color: #fff;
  border: none;
  text-transform:capitalize;
  padding: 0;
}

.more_review:hover {
  box-shadow: none;
  text-decoration: underline;
}
/* reviews */

/* footer */

footer {
  background-color: #FAFAFA;
  text-align: center;
  padding-bottom: 35px;
}

.container .menu {
  border-bottom: 1px solid #000;
}

.container .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  line-height: 140.62%;
  padding: 7% 15% 25px 15%;
  font-weight: 600;
}

.footer_logos ul{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.footer_logos ul li {
  padding-right: 2%;
}


/* footer */

/* media */

@media screen and (max-width: 1140px) {
  .image_text {
    padding: 3% 5%;
  }
  }
  @media screen and (max-width: 992px) {
    .banner_info {
      padding-top: 3% ;
      padding-left: 5%;
      padding-right: 5%;
  }

  .image_text {
    padding: 7px 4%;
  }

  .image_text .big_text {
    font-size: 36px;
    padding-bottom: 20px;
  }
}
  @media screen and (max-width: 768px) {
    .banner_info h1{
      font-size: 40px;
      line-height: 39px;
      padding-bottom: 10px;
  }
  .banner_info p {
    font-size: 17px;
  }

  .banner_info .banner_btn {
    line-height: 18px;
    font-size: 15px;
  }

  .banner_info .banner_btn{
    padding: 10px 15px;
  }

  .second_banner .banner_title{
    line-height: 0%;
  }
  .banner_info .banner_subtitle{
    padding-bottom: 6px;
  }

  .gift_card{
    grid-template-columns: repeat(2, 1fr);
  }

  .ready_wrap {
    flex-direction: column;
  }

  .ready_title {
    padding-bottom: 20px;
  }

  .image_text {
    padding: 7px 4%;
  }

  .image_text .big_text {
    font-size: 26px;
    padding-top: 10px;
  }

  .reviews_wrap {
    display: block;
  }

  }
  @media screen and (max-width: 576px) {
    .navbar {
      display: block;
    }

    .nav_logo {
      width: 70px;
      margin: 0 auto;
    }
  
    .nav_btn{
      display: flex;
      justify-content: center;
    }

    .banner_wrap{
      flex-direction: column;
    }

    .banner_info, .banner_photo{
      width: 100%;
    }

  .banner_wrap{
    flex-direction: column-reverse;
  }

  .banner_photo img {
    margin-bottom: 16px;
  }

  .banner_info{
    padding-bottom: 50px;
  }

  .gift_card{
    grid-template-columns: repeat(1, 1fr);
  }

  .image_text {
    padding: 20px;
  }

  .blog_image{
    display: block;
  }
  }

/* media */