/* root */
button{
    border: 1px solid #F7941E;
    border-radius: 5px;
    padding: 7px 24px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

button:hover{
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

img{
  width: 100%;
}


/* root */
body{
    font-family: 'Gilroy';
}
header {
    background-color: #FAFAFA;;
}

.navbar{
    padding: 36px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

.nav_menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_menu ul>li {
    padding-right: 31px;
    line-height: 21,6px;
    
}

.nav_btn .btn{
    line-height: 30px;
    line-height: 22px;
    color: #F7941E;;
}

.banner{
    background-color: #F1F1F2;;
}

.banner_wrap{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: center;
    justify-content: space-between;
}

.banner_info, .banner_photo{
    width: 50%;
}
.banner_info{
  padding-top: 10% ;
  padding-left: 5%;
  padding-right: 5%;
}

.banner_info h1{
    font-size: 56px;
    line-height: 69px;
    padding-bottom: 36px;
}

.banner_info p{
    font-size: 20px;
    line-height: 140.62%;
    padding-bottom: 50px;
}

.banner_info .banner_btn{
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    background-color: #F7941E;
    padding: 23px 35px;
}

.banner_btn{
  padding-bottom: 100px;
}

.second_banner{
    flex-direction: row-reverse;
}

.second_banner .banner_title{
  font-size: 32px;
  line-height: 140.62%;
}

.btn_more{
  color: #F7941E !important;
  background-color: #F1F1F2 !important;
}

.gifts {
  padding: 100px 5%;
}

.gift_title{
  text-align: center;
  font-size: 32px;
  line-height: 38px;  
  padding-bottom: 60px;
}

.gift_subtitle{
  font-size: 18px;
}

.gift_card{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  width: 100%;
}

.gift_card .card{
  background-color: #FAFAFA;
  box-shadow: 0 0 20px rgba(54, 47, 47, 0.2);
}

.card_info{
  padding: 24px;
}

.card_info p{
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 70px;
}

.card_info button {
  font-size: 14px;
  line-height: 19px;
  border: none;
  text-transform: capitalize;
  background-color: #fff;
  padding: 0;
}







/* media */

@media screen and (max-width: 1140px) {
    
  }
  @media screen and (max-width: 992px) {
    .banner_info {
      padding-top: 3% ;
      padding-left: 5%;
      padding-right: 5%;
  }
  }
  @media screen and (max-width: 768px) {
    .banner_info h1{
      font-size: 40px;
      line-height: 39px;
      padding-bottom: 10px;
  }

  .banner_info .banner_btn{
    padding: 10px 15px;
  }

  .second_banner .banner_title{
    line-height: 0%;
  }
  .banner_info .banner_subtitle{
    padding-bottom: 6px;
  }
  }
  @media screen and (max-width: 576px) {
    .banner_wrap{
      flex-direction: column;
    }

    .banner_info, .banner_photo{
      width: 100%;
    }

  .banner_wrap{
    flex-direction: column-reverse;
  }

  .banner_info{
    padding-bottom: 50px;
  }
  }

/* media */